<div class="all" id="all">
    <div class="navbar">
        <div class="div1">
            <a href="/" class="kanit-bold fontsize">Home</a>
        </div>
        <div class="div2">
            <a href="/qrView" class="kanit-extrabold fontsize">QR-Codes</a>
        </div>
        <div class="div3">
            <a href="/userQrOverview" class="kanit-bold fontsize">QR-Editor</a>
        </div>
    </div>
    <div class="linkBox"><input class="link" type="url" [value]="url" readonly></div>
    <div class="qrbox" id="qrbox">
    </div>
    <div class="createButton" (click)="create()" id="createButton">
        <span class="kanit-bold createButtontText" (click)="create()">Erstellen</span>
    </div>
    <div class="urlBlur none" id="urlBlur">
        <div class="urlBox">
            <input type="url" class="urlInput" (change)="urlInput($event)">
        </div>
        <button class="urlButtonCancel kanit-bold createButtontText" (click)="reload()">Abbrechen</button>
        <button class="urlButtonCreate kanit-bold createButtontText" (click)="createNew()">Erstellen</button>
    </div>
</div>

