.all {
    width: 100vw;
    height: 100vh;
    background-color: #1F1B24;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    height: 5vh;
    width: 50vw;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    grid-template-columns: 0.5fr 1.1fr 1.5fr 1.1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
}
    
.div1 {
    grid-area: 1 / 2 / 2 / 3;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(50%, 20%);
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(50%, 20%);
}

.div3 {
    grid-area: 1 / 4 / 2 / 5;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(50%, 20%);
}

.qrtree {
  position: absolute;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  width: 50vw;
  height: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.qrlogo {
  position: absolute;
  border-radius: 1rem;
  width: 12.5%;
  height: 80%;
  left: 7.5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.qrtext {
  position: absolute;
  height: 80%;
  width: 62.5%;
  left: 46%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
}
.qrlink {
  font-size: 125%;
  color: inherit;
  text-decoration: inherit;
}
.qrlinkicon {
  position: absolute;
  border-radius: 1rem;
  height: 50%;
  width: 8%;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.qrcode {
  position: absolute;
  border-radius: 1rem;
  width: 12.5%;
  height: 80%;
  left: 92.5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.qredit {
  position: absolute;
  border-radius: 1rem;
  height: 45%;
  width: 10%;
  top: 130%;
  left: 5%;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}
.qrremove {
  position: absolute;
  border-radius: 1rem;
  height: 45%;
  width: 10%;
  top: 130%;
  left: 16%;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}
.qrdeactivate {
  position: absolute;
  border-radius: 1rem;
  height: 45%;
  width: 10%;
  top: 130%;
  left: 27%;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 0;
  cursor: pointer;
}
.qrdeactivatebutton {
  position: absolute;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  background: none;
  border: 0;
  cursor: pointer;
}
.qrdeactivateimg {
  position: absolute;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}
.qrpopout {
  position: absolute;
  border-radius: 1rem;
  height: 90%;
  width: 50%;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  z-index: 100;
}
.qrcodepopout {
  position: absolute;
  border-radius: 1rem;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}

.fontsize {
    font-size: 125%;
    color: inherit;
    text-decoration: inherit;
}
.fontsize:hover {
    color: red;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .none {
    visibility: hidden;
  }

  .createButton {
    position: fixed;
    border: 0;
    border-radius: 0.75rem;
    background-color: green;
    width: 15%;
    height: 6.5%;
    left: 89.5%;
    top: 91%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 150%;
  }
  .createButton:hover {
    background-color: red;
  }
  .createButtontText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .urlBlur{
    position: absolute;
    z-index: 100;
    backdrop-filter: blur( 10px );
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
  }

  .urlBox{
    position: absolute;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    width: 35%;
    height: 10%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
  }

  .urlInput {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 80%;
    border-radius: 0.5rem;
    border: none;
    background-color: #1F1B24;
    color: #ffffffc3;
    padding: 0.5rem;
    font-size: 125%;
  }

  .urlButtonCancel {
    position: fixed;
    border: 0;
    border-radius: 0.75rem;
    background-color: red;
    width: 15%;
    height: 6.5%;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 150%;
  }
  .urlButtonCancel:hover {
    background-color: green;
  }

  .urlButtonCreate {
    position: fixed;
    border: 0;
    border-radius: 0.75rem;
    background-color: green;
    width: 15%;
    height: 6.5%;
    left: 60%;
    top: 60%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 150%;
  }
  .urlButtonCreate:hover {
    background-color: red;
  }