
<div class="all">
    <div class="navbar">
        <div class="div1">
            <a href="/" class="kanit-bold fontsize">Home</a>
        </div>
        <div class="div2">
            <a href="/qrView" class="kanit-extrabold fontsize">QR-Codes</a>
        </div>
        <div class="div3">
            <a href="/userQrOverview" class="kanit-bold fontsize">QR-Editor</a>
        </div>
    </div>

    <div class="main">
        <div class="div6">
            <span class="title kanit-bold">Willkommen auf QRTree</span>
        </div>
        <div class="div7">
            <span class="subtitle kanit-medium">Was ist ein Linktree? Ein Linktree ist eine praktische Lösung, um mehrere Links auf eine einzige Seite zu bündeln. Das ist besonders nützlich für Personen und Unternehmen, die auf verschiedenen Plattformen präsent sind und ihren Followern einen zentralen Ort bieten möchten, um auf ihre Inhalte zuzugreifen. <p>Und was ist ein QR-Code? Ein QR-Code ist ein zweidimensionaler Barcode, der Informationen wie URLs, Texte oder andere Daten enthält. Indem man diesen Code mit einem Smartphone oder einem anderen QR-Code-Scanner scannt, kann man schnell und einfach auf die hinterlegten Informationen zugreifen.</span>
        </div>
        <div class="div4">
            <span class="subtitle kanit-medium">Mit QRTree kannst du nun das Beste aus beiden Welten kombinieren. Erstelle deine Linktree-Seite wie gewohnt und generiere dann einen einzigartigen QR-Code, der direkt zu deinem Linktree führt. Diesen QR-Code kannst du überall platzieren – auf Visitenkarten, Plakaten, Flyern oder sogar in digitalen Medien – und deine Zielgruppe kann mit nur einem Scan auf all deine wichtigen Links zugreifen. <p>Egal, ob du ein Influencer bist, ein kleines Unternehmen führst oder einfach nur deine Online-Präsenz optimieren möchtest – QRTree ist die Lösung, die du gesucht hast. Schnell, einfach und effektiv.</span>
        </div>
    </div>

    <div class="footer">
        <div class="FooterDiv">
            <a href="/impressum" class="kanit-bold fontsize">Impressum</a>
        </div>
    </div>
</div>