.all {
    width: 100vw;
    height: 100vh;
    background-color: #1F1B24;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
  z-index: 10;
  height: 5vh;
  width: 50vw;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: grid;
  grid-template-columns: 0.5fr 1.1fr 1.5fr 1.1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #ffffff26;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 1rem;
}
  
.div1 {
  grid-area: 1 / 2 / 2 / 3;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 20%);
}

.div2 {
  grid-area: 1 / 3 / 2 / 4;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 20%);
}

.div3 {
  grid-area: 1 / 4 / 2 / 5;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 20%);
}

.main {
    position: absolute;
    display: grid;
    grid-template-columns: 0.1fr 0.5fr repeat(6, 1fr) 1.7fr;
    grid-template-rows: 0.5fr repeat(5, 1fr) 0.5fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: 100%;
    width: 100%;
}
    
.div4 {
    grid-area: 5 / 4 / 7 / 9;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.div5 {
    grid-area: 2 / 2 / 7 / 4;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.div6 {
    grid-area: 2 / 4 / 3 / 9;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.div7 {
    grid-area: 3 / 4 / 5 / 9;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.fontsize {
    font-size: 125%;
    color: inherit;
    text-decoration: inherit;
}
.fontsize:hover {
    color: red;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
  }

  .subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    width: 90%;
  }
  