.all {
    width: 100vw;
    height: 100vh;
    background-color: #1F1B24;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
  height: 5vh;
  width: 50vw;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: grid;
  grid-template-columns: 0.5fr 1.1fr 1.5fr 1.1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 1rem;
}
  
.div1 {
  grid-area: 1 / 2 / 2 / 3;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 20%);
}

.div2 {
  grid-area: 1 / 3 / 2 / 4;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 20%);
}

.div3 {
  grid-area: 1 / 4 / 2 / 5;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(50%, 20%);
}

.parent {
  display: grid;
  grid-template-columns: 3.5fr repeat(7, 1fr) 3.5fr;
  grid-template-rows: 0.5fr repeat(4, 0.75fr) 1.5fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  height: 100%;
  width: 100%;
}
  
  .div4 {
    grid-area: 2 / 2 / 4 / 4;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }
  .div5 {
    grid-area: 5 / 2 / 6 / 7;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }
  .div6 {
    grid-area: 2 / 4 / 4 / 9;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }
  .div7 {
    grid-area: 4 / 7 / 6 / 9;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }
  .div8 {
    grid-area: 4 / 2 / 5 / 7;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 1rem;
    height: 100%;
    width: 100%;
  }

.fontsize {
    font-size: 125%;
    color: inherit;
    text-decoration: inherit;
}
.fontsize:hover {
    color: red;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .qrlogo {
    position: absolute;
    border-radius: 1rem;
    width: 70%;
    height: 80%;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
  }

  .qrcode {
    position: absolute;
    border-radius: 1rem;
    width: 70%;
    height: 80%;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
  }

  .button{
    position: absolute;
    border: 0;
    border-radius: 0.75rem;
    background-color: green;
    width: 20%;
    height: 8.5%;
    left: 66%;
    top: 77%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 200%;
  }
  .button:hover {
    background-color: red;
  }

  .azu {
    position: absolute;
    left: 20%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 150%;
  }
  
  .qrzu {
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 150%;
  }

  .link {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 50%;
    border-radius: 0.5rem;
    border: none;
    background-color: #1F1B24;
    color: #ffffffc3;
    padding: 0.5rem;
  }

  .shortlink {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 50%;
    border-radius: 0.5rem;
    border: none;
    background-color: #1F1B24;
    color: #ffffffc3;
    padding: 0.5rem;
  }

  .primarycolor {
    position: absolute;
    left: 15%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 12.5%;
    border-radius: 0.5rem;
    border: none;
    background-color: #1F1B24;
    padding: 0.5rem;
  }

  .textcolor {
    position: absolute;
    left: 35%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 12.5%;
    border-radius: 0.5rem;
    border: none;
    background-color: #1F1B24;
    padding: 0.5rem;
  }

  .uploadImg {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    height: 8%;
    width: 80%;
    border-radius: 0.5rem;
    border: none;
    background-color: #1F1B24;
    padding: 0.5rem;
  }

  .qrdeactivate {
    position: absolute;
    border-radius: 1rem;
    height: 45%;
    width: 10%;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    border: 0;
    cursor: pointer;
  }
  .qrdeactivatebutton {
    position: absolute;
    border-radius: 1rem;
    height: 150%;
    width: 150%;
    background: none;
    border: 0;
    cursor: pointer;
  }
  .qrdeactivateimg {
    position: absolute;
    border-radius: 1rem;
    height: 150%;
    width: 150%;
  }

  .linkTitle {
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 150%;
  }

  .shortlinkTitle {
    position: absolute;
    top: 55%;
    left: 5%;
    font-size: 150%;
  }

  .primarycolorTitle {
    position: absolute;
    top: 1%;
    left: 7%;
    font-size: 150%;
  }

  .textcolorTitle {
    position: absolute;
    top: 1%;
    left: 27%;
    font-size: 150%;
  }

  .permalinkTitle {
    position: absolute;
    top: 1%;
    left: 70%;
    font-size: 150%;
  }
