<div class="all">
    <div class="navbar">
        <div class="div1">
            <a href="/" class="kanit-bold fontsize">Home</a>
        </div>
        <div class="div2">
            <a href="/qrView" class="kanit-extrabold fontsize">QR-Codes</a>
        </div>
        <div class="div3">
            <a href="/userQrOverview" class="kanit-bold fontsize">QR-Editor</a>
        </div>
    </div>

    <div class="parent">
        <div class="div4">
            <img src="../../assets/img/Owl_logo.png" class="qrlogo">
            <input type="image" class="button">
        </div>
        <div class="div5">
            <input type="color">
            <input type="color">
        </div>
        <div class="div6">
            <span class="azu kanit-medium">Allgemeine Zugriffe</span>
            <span class="qrzu kanit-medium">QR-Code Zugriffe</span>
            <span class="lzu kanit-medium">Link Zugriffe</span>
            <span class="szu kanit-medium">Seiten Zugriffe</span>
            <span class="l24 kanit-medium">Letzte 24h</span>
            <span class="l7 kanit-medium">Letzte 7 Tage</span>
        </div>
        <div class="div7">
            <img src="../../assets/img/QR_deWP.svg.png" class="qrcode">
            <input type="button" class="button">
        </div>
        <div class="div8">
            <input type="url" placeholder="https://www.youtube.com/">
            <input type="url" value="https://qrtree.de/yoururl/" readonly>
        </div>
    </div>

</div>
